#gitignore is used to make desktop github ignore specific files when pushing and commiting changes.
#commit is local
#push is to online
#to ignore specific files use code:
#files/* 

#to ignore a specific file inside of directory "files" use code:
files/file2